In [1]:
import pandas as pd
import numpy as np

In [2]:
#data1 = pd.read_csv("laptop1.csv")
data = pd.read_csv("laptop2.csv")

In [3]:
data.head()

,Unnamed: 0,Name,Processor,RAM,Operating System,Storage,Display,Warranty,Price,rating
0,0,Lenovo Ideapad S145 Core i5 10th Gen - (8 GB/1...,Intel Core i5 Processor (10th Gen),8 GB DDR4 RAM,64 bit Windows 10 Operating System,1 TB HDD,39.62 cm (15.6 inch) Display,1 Year Onsite Warranty,"₹43,990",3.9
1,1,Lenovo IdeaPad Core i3 11th Gen - (8 GB/256 GB...,Intel Core i3 Processor (11th Gen),8 GB DDR4 RAM,64 bit Windows 10 Operating System,256 GB SSD,35.56 cm (14 Inch) Display,1 Year Onsite Warranty,"₹43,990",4.2
2,2,HP Pentium Quad Core - (8 GB/256 GB SSD/Window...,Intel Pentium Quad Core Processor,8 GB DDR4 RAM,64 bit Windows 10 Operating System,256 GB SSD,35.56 cm (14 inch) Display,1 Year Onsite Warranty,"₹31,490",4.6
3,3,HP 14s Core i3 11th Gen - (8 GB/256 GB SSD/Win...,Intel Core i3 Processor (11th Gen),8 GB DDR4 RAM,64 bit Windows 10 Operating System,256 GB SSD,35.56 cm (14 inch) Display,1 Year Onsite Warranty,"₹40,990",4.1
4,4,HP 15s Athlon Dual Core - (4 GB/1 TB HDD/Windo...,AMD Athlon Dual Core Processor,4 GB DDR4 RAM,64 bit Windows 10 Operating System,1 TB HDD,39.62 cm (15.6 inch) Display,1 Year Onsite Warranty,"₹27,490",4.1

In [4]:
data.shape

(550, 10)

In [5]:
data.duplicated().sum()

0

In [6]:
data.drop(columns=["Unnamed: 0", "Warranty", "rating"], inplace=True)

In [7]:
data.sample(5)

,Name,Processor,RAM,Operating System,Storage,Display,Price
52,ASUS TUF Dash F15 (2021) Core i5 11th Gen - (1...,AMD Ryzen 5 Hexa Core Processor,16 GB DDR4 RAM,64 bit Windows 10 Operating System,512 GB SSD,33.78 cm (13.3 inch) Display,"₹94,990"
2,HP Pentium Quad Core - (8 GB/256 GB SSD/Window...,Intel Pentium Quad Core Processor,8 GB DDR4 RAM,64 bit Windows 10 Operating System,256 GB SSD,35.56 cm (14 inch) Display,"₹31,490"
98,ASUS ROG Flow X13 Ryzen 9 Octa Core 5900HS - (...,Intel Core i3 Processor (10th Gen),32 GB LPDDR4X RAM,64 bit Windows 10 Operating System,1 TB HDD,"Matrix Display, Dragon Center, Cooler Boost 5,...","₹1,54,990"
202,HP 15s Core i5 11th Gen - (8 GB/1 TB HDD/Windo...,Intel Core i5 Processor (11th Gen),8 GB DDR4 RAM,64 bit Windows 10 Operating System,1 TB HDD,39.62 cm (15.6 inch) Display,"₹53,490"
380,HP 15s Pentium Gold - (4 GB/1 TB HDD/Windows 1...,Intel Core i5 Processor (10th Gen),4 GB DDR4 RAM,64 bit Windows 10 Operating System,512 GB SSD,"Matrix Display, Dragon Center, Cooler Boost 5,...","₹27,990"

# DATA PREPROCESSING

In [8]:
import string

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              550 non-null    object
 1   Processor         550 non-null    object
 2   RAM               550 non-null    object
 3   Operating System  550 non-null    object
 4   Storage           550 non-null    object
 5   Display           550 non-null    object
 6   Price             550 non-null    object
dtypes: object(7)
memory usage: 30.2+ KB

In [10]:
data["Name"] = data["Name"].str.split(" ").str.slice(0,3).str.join(" ")

In [11]:
data.head()

,Name,Processor,RAM,Operating System,Storage,Display,Price
0,Lenovo Ideapad S145,Intel Core i5 Processor (10th Gen),8 GB DDR4 RAM,64 bit Windows 10 Operating System,1 TB HDD,39.62 cm (15.6 inch) Display,"₹43,990"
1,Lenovo IdeaPad Core,Intel Core i3 Processor (11th Gen),8 GB DDR4 RAM,64 bit Windows 10 Operating System,256 GB SSD,35.56 cm (14 Inch) Display,"₹43,990"
2,HP Pentium Quad,Intel Pentium Quad Core Processor,8 GB DDR4 RAM,64 bit Windows 10 Operating System,256 GB SSD,35.56 cm (14 inch) Display,"₹31,490"
3,HP 14s Core,Intel Core i3 Processor (11th Gen),8 GB DDR4 RAM,64 bit Windows 10 Operating System,256 GB SSD,35.56 cm (14 inch) Display,"₹40,990"
4,HP 15s Athlon,AMD Athlon Dual Core Processor,4 GB DDR4 RAM,64 bit Windows 10 Operating System,1 TB HDD,39.62 cm (15.6 inch) Display,"₹27,490"

In [12]:
data["Processor"].value_counts()

Intel Core i5 Processor (10th Gen)                          100
Intel Core i7 Processor (10th Gen)                           98
Intel Core i5 Processor (11th Gen)                           69
Intel Core i3 Processor (11th Gen)                           51
Intel Core i5 Processor (8th Gen)                            32
Intel Core i3 Processor (10th Gen)                           27
AMD Ryzen 7 Octa Core Processor                              27
Intel Core i7 Processor (11th Gen)                           24
AMD Ryzen 5 Quad Core Processor                              16
AMD Ryzen 5 Hexa Core Processor                              13
AMD Ryzen 3 Dual Core Processor                              12
Intel Core i5 Processor (9th Gen)                            10
Intel Core i7 Processor (8th Gen)                             9
Intel Celeron Dual Core Processor                             8
Intel Core i7 Processor (7th Gen)                             6
Intel Core i9 Processor (10th Gen)                            5
Intel Core i7 Processor (9th Gen)                             5
Intel Core i5 Processor (7th Gen)                             5
AMD Ryzen 9 Octa Core Processor                               4
AMD Ryzen 7 Quad Core Processor                               3
AMD Ryzen 5 Quad Core Processor (3rd Gen)                     3
AMD Ryzen 7 Octa Core Processor (5th Gen)                     2
AMD Ryzen 5 Hexa Core Processor (5th Gen)                     2
AMD APU Dual Core A6 Processor                                2
AMD Athlon Dual Core Processor                                2
Intel Evo platform feat 11th Gen Intel Core i7 processor      2
Intel Core i3 Processor (8th Gen)                             1
Intel Core i3 Processor (7th Gen)                             1
Intel Core i9 Processor (9th Gen)                             1
Microsoft Core i5 Processor (11th Gen)                        1
Intel Core i9 Processor (8th Gen)                             1
Intel Evo platform feat 11th Gen Intel Core i5 processor      1
AMD Dual Core Processor                                       1
Intel Pentium Quad Core Processor                             1
AMD APU Dual Core A4 Processor                                1
AMD Ryzen 7 Hexa Core Processor                               1
AMD Ryzen 3 Quad Core Processor                               1
AMD Ryzen 5 Dual Core Processor                               1
Intel Core i3 Processor (5th Gen)                             1
Name: Processor, dtype: int64

In [13]:
data["Processor"] = data["Processor"].str.split(" ").str.slice(0,3).str.join(" ")
data = data[data["Processor"]!= "Intel Evo platform feat 11th Gen Intel Core i7 processor"]
data = data[data["Processor"]!= "Intel Evo platform feat 11th Gen Intel Core i5 processor"]
data = data[data["Processor"]!= "AMD APU Dual"]
data = data[data["Processor"]!= "Intel Celeron Dual"]
data = data[data["Processor"]!= "Intel Evo platform"]
data = data[data["Processor"]!= "AMD Athlon Dual"]

In [14]:
data.head()

,Name,Processor,RAM,Operating System,Storage,Display,Price
0,Lenovo Ideapad S145,Intel Core i5,8 GB DDR4 RAM,64 bit Windows 10 Operating System,1 TB HDD,39.62 cm (15.6 inch) Display,"₹43,990"
1,Lenovo IdeaPad Core,Intel Core i3,8 GB DDR4 RAM,64 bit Windows 10 Operating System,256 GB SSD,35.56 cm (14 Inch) Display,"₹43,990"
2,HP Pentium Quad,Intel Pentium Quad,8 GB DDR4 RAM,64 bit Windows 10 Operating System,256 GB SSD,35.56 cm (14 inch) Display,"₹31,490"
3,HP 14s Core,Intel Core i3,8 GB DDR4 RAM,64 bit Windows 10 Operating System,256 GB SSD,35.56 cm (14 inch) Display,"₹40,990"
5,Lenovo IdeaPad 3,Intel Core i5,8 GB DDR4 RAM,64 bit Windows 10 Operating System,1 TB HDD,39.62 cm (15.6 inch) Display,"₹42,990"

In [15]:
data["RAM"].value_counts()

8 GB DDR4 RAM                                    285
16 GB DDR4 RAM                                   123
4 GB DDR4 RAM                                     62
16 GB LPDDR4X RAM                                 16
8 GB LPDDR4X RAM                                  13
8 GB LPDDR3 RAM                                   10
32 GB DDR4 RAM                                     8
8 GB DDR3 RAM                                      6
16 GB LPDDR3 RAM                                   4
16 GB DDR3 RAM                                     3
Upgradable SSD Upto 512 GB and RAM Upto 32 GB      1
12 GB DDR4 RAM                                     1
32 GB LPDDR4X RAM                                  1
4 GB DDR3 RAM                                      1
Name: RAM, dtype: int64

In [16]:
data = data[data["RAM"]!= "Upgradable SSD Upto 512 GB and RAM Upto 32 GB"]
data["RAM"] = data["RAM"].str.split(" ").str.get(0).astype(int)

In [17]:
data.head()

,Name,Processor,RAM,Operating System,Storage,Display,Price
0,Lenovo Ideapad S145,Intel Core i5,8,64 bit Windows 10 Operating System,1 TB HDD,39.62 cm (15.6 inch) Display,"₹43,990"
1,Lenovo IdeaPad Core,Intel Core i3,8,64 bit Windows 10 Operating System,256 GB SSD,35.56 cm (14 Inch) Display,"₹43,990"
2,HP Pentium Quad,Intel Pentium Quad,8,64 bit Windows 10 Operating System,256 GB SSD,35.56 cm (14 inch) Display,"₹31,490"
3,HP 14s Core,Intel Core i3,8,64 bit Windows 10 Operating System,256 GB SSD,35.56 cm (14 inch) Display,"₹40,990"
5,Lenovo IdeaPad 3,Intel Core i5,8,64 bit Windows 10 Operating System,1 TB HDD,39.62 cm (15.6 inch) Display,"₹42,990"

In [18]:
data["Operating System"].value_counts()

64 bit Windows 10 Operating System                                                                                         477
Windows 10 Operating System                                                                                                 22
Mac OS Operating System                                                                                                     19
Pre-installed Genuine Windows 10 Operating System (Includes Built-in Security, Free Automated Updates, Latest Features)     10
64 bit Chrome Operating System                                                                                               3
DOS Operating System                                                                                                         2
Name: Operating System, dtype: int64

In [19]:
data["Operating System"] = data["Operating System"].str.split(" ").str.get(0)
data = data[data["Operating System"].str.isnumeric()]
data["Operating System"] = data["Operating System"].astype(int)

In [20]:
data.head()

,Name,Processor,RAM,Operating System,Storage,Display,Price
0,Lenovo Ideapad S145,Intel Core i5,8,64,1 TB HDD,39.62 cm (15.6 inch) Display,"₹43,990"
1,Lenovo IdeaPad Core,Intel Core i3,8,64,256 GB SSD,35.56 cm (14 Inch) Display,"₹43,990"
2,HP Pentium Quad,Intel Pentium Quad,8,64,256 GB SSD,35.56 cm (14 inch) Display,"₹31,490"
3,HP 14s Core,Intel Core i3,8,64,256 GB SSD,35.56 cm (14 inch) Display,"₹40,990"
5,Lenovo IdeaPad 3,Intel Core i5,8,64,1 TB HDD,39.62 cm (15.6 inch) Display,"₹42,990"

In [21]:
data["Storage"].value_counts()

512 GB SSD                                                 185
1 TB HDD|256 GB SSD                                         89
1 TB HDD                                                    75
256 GB SSD                                                  66
1 TB SSD                                                    52
1 TB HDD|128 GB SSD                                          5
128 GB SSD                                                   2
1 TB HDD|512 GB SSD                                          2
512 GB SSD for Reduced Boot Up Time and in Game Loading      1
128 GB NVMe PCIe 3.0 x4 SSD                                  1
512 GB HDD|512 GB SSD                                        1
128 GB SSD for Reduced Boot Up Time and in Game Loading      1
Name: Storage, dtype: int64

In [22]:
data["Storage"] = data["Storage"].str.split(" ").str.get(0).str.join("").astype(int)
data = data[data["Storage"]!= "Storage"]

In [23]:
data.head()

,Name,Processor,RAM,Operating System,Storage,Display,Price
0,Lenovo Ideapad S145,Intel Core i5,8,64,1,39.62 cm (15.6 inch) Display,"₹43,990"
1,Lenovo IdeaPad Core,Intel Core i3,8,64,256,35.56 cm (14 Inch) Display,"₹43,990"
2,HP Pentium Quad,Intel Pentium Quad,8,64,256,35.56 cm (14 inch) Display,"₹31,490"
3,HP 14s Core,Intel Core i3,8,64,256,35.56 cm (14 inch) Display,"₹40,990"
5,Lenovo IdeaPad 3,Intel Core i5,8,64,1,39.62 cm (15.6 inch) Display,"₹42,990"

In [24]:
data["Display"].value_counts()

39.62 cm (15.6 inch) Display                                                                                                                       217
35.56 cm (14 inch) Display                                                                                                                         103
33.78 cm (13.3 inch) Display                                                                                                                        33
Matrix Display, Dragon Center, Cooler Boost 5, Nahimic 3                                                                                            22
35.56 cm (14 Inch) Display                                                                                                                          19
35.56 cm (14 inch) Touchscreen Display                                                                                                              16
33.78 cm (13.3 inch) Touchscreen Display                                                                                                            12
SHIFT, SteelSeries Engine 3, Matrix Display (Extend), Dragon Center, GamingMode, VR Ready, Cooler Boost 5, Nahimic 3, Nahimic VR, Giant Speaker      9
15.6 inches Full HD IPS Thin Bezel Display (144Hz, 45% NTSC Color Gamut)                                                                             8
39.62 cm (15.6 inch) Touchscreen Display                                                                                                             5
39.62 cm (15.6 Inch) Display                                                                                                                         5
33.02 cm (13 inch) Display                                                                                                                           4
33.78 cm (13.3 Inch) Display                                                                                                                         4
40.64 cm (16 inch) Display                                                                                                                           3
34.04 cm (13.4 inch) Touchscreen Display                                                                                                             3
35.56 cm (14 inches) Touchscreen Display                                                                                                             2
30.48 cm (12 inch) Touchscreen Display                                                                                                               2
Full HD LED Backlit Display                                                                                                                          2
Full HD LED Backlit Anti-glare Display for Better Visual Experience                                                                                  1
31.24 cm (12.3 inch) Touchscreen Display                                                                                                             1
43.94 cm (17.3 inch) Display                                                                                                                         1
35.56 cm (14 inches) Display                                                                                                                         1
38.1 cm (15 inch) Display                                                                                                                            1
29.46 cm (11.6 inch) Touchscreen Display                                                                                                             1
34.54 cm (13.6 inch) Touchscreen Display                                                                                                             1
35.56 cm (14 Inch) Touchscreen Display                                                                                                               1
34.29 cm (13.5 inch) Touchscreen Display                                                                                                             1
15.6 inches Full HD IPS Thin Bezel Display (60Hz, 45% NTSC Color Gamut)                                                                              1
25.4 cm (10 inch) Touchscreen Display                                                                                                                1
Name: Display, dtype: int64

In [25]:
data = data[data["Display"]!= "SHIFT, SteelSeries Engine 3, Matrix Display (Extend), Dragon Center, GamingMode, VR Ready, Cooler Boost 5, Nahimic 3, Nahimic VR, Giant Speaker"]
data = data[data["Display"]!= "Matrix Display, Dragon Center, Cooler Boost 5, Nahimic 3"]
data = data[data["Display"]!= "Full HD LED Backlit Anti-glare Display for Better Visual Experience"]
data = data[data["Display"]!= "Full HD LED Backlit Display"]
data["Display"] = data["Display"].str.split(" ").str.get(0).astype(float)

In [26]:
data.head()

,Name,Processor,RAM,Operating System,Storage,Display,Price
0,Lenovo Ideapad S145,Intel Core i5,8,64,1,39.62,"₹43,990"
1,Lenovo IdeaPad Core,Intel Core i3,8,64,256,35.56,"₹43,990"
2,HP Pentium Quad,Intel Pentium Quad,8,64,256,35.56,"₹31,490"
3,HP 14s Core,Intel Core i3,8,64,256,35.56,"₹40,990"
5,Lenovo IdeaPad 3,Intel Core i5,8,64,1,39.62,"₹42,990"

In [27]:
data["Price"] = data["Price"].str.replace("₹","")
data["Price"] = data["Price"].str.replace(",","").astype(int)

In [28]:
data.head()

,Name,Processor,RAM,Operating System,Storage,Display,Price
0,Lenovo Ideapad S145,Intel Core i5,8,64,1,39.62,43990
1,Lenovo IdeaPad Core,Intel Core i3,8,64,256,35.56,43990
2,HP Pentium Quad,Intel Pentium Quad,8,64,256,35.56,31490
3,HP 14s Core,Intel Core i3,8,64,256,35.56,40990
5,Lenovo IdeaPad 3,Intel Core i5,8,64,1,39.62,42990

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 446 entries, 0 to 549
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              446 non-null    object
 1   Processor         446 non-null    object
 2   RAM               446 non-null    int32
 3   Operating System  446 non-null    int32
 4   Storage           446 non-null    int32
 5   Display           446 non-null    float64
 6   Price             446 non-null    int32
dtypes: float64(1), int32(4), object(2)
memory usage: 20.9+ KB

In [30]:
data["Processor"].value_counts()

Intel Core i5         179
Intel Core i7         120
Intel Core i3          68
AMD Ryzen 5            32
AMD Ryzen 7            26
AMD Ryzen 3            10
Intel Core i9           5
AMD Ryzen 9             3
Microsoft Core i5       1
Intel Pentium Quad      1
AMD Dual Core           1
Name: Processor, dtype: int64

In [31]:
data.describe()

              RAM  Operating System     Storage     Display          Price
count  446.000000             446.0  446.000000  446.000000     446.000000
mean     9.955157              64.0  237.235426   36.979664   77895.495516
std      4.787414               0.0  236.173076    3.961600   43341.810219
min      4.000000              64.0    1.000000   15.600000   23480.000000
25%      8.000000              64.0    1.000000   35.560000   45121.750000
50%      8.000000              64.0  256.000000   39.620000   64253.500000
75%     16.000000              64.0  512.000000   39.620000   99867.500000
max     32.000000              64.0  512.000000   43.940000  338990.000000

In [32]:
data[data["Price"]>=338990]

,Name,Processor,RAM,Operating System,Storage,Display,Price
250,ASUS ZenBook Pro,Intel Core i5,32,64,512,39.62,338990

In [33]:
data = data[data["Price"]<338990]

In [34]:
data = data.reset_index(drop=True)

In [35]:
data.head()

,Name,Processor,RAM,Operating System,Storage,Display,Price
0,Lenovo Ideapad S145,Intel Core i5,8,64,1,39.62,43990
1,Lenovo IdeaPad Core,Intel Core i3,8,64,256,35.56,43990
2,HP Pentium Quad,Intel Pentium Quad,8,64,256,35.56,31490
3,HP 14s Core,Intel Core i3,8,64,256,35.56,40990
4,Lenovo IdeaPad 3,Intel Core i5,8,64,1,39.62,42990

In [36]:
data.shape

(445, 7)

In [37]:
data.to_csv("Cleaned_Laptop_Details")

# MODEL BUILDING

In [38]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, VotingRegressor, StackingRegressor
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score
import pickle

In [39]:
ohe = OneHotEncoder()
ohe.fit(data[["Name","Processor"]])
ohe.categories_

[array(['ALIENWARE Core i7', 'ALIENWARE Core i9', 'APPLE MacBook Pro',
        'ASUS ASUS TUF', 'ASUS Celeron Dual', 'ASUS Core i3',
        'ASUS Core i5', 'ASUS ExpertBook B9', 'ASUS ExpertBook P1',
        'ASUS ExpertBook P2', 'ASUS Pro P5', 'ASUS ROG Flow',
        'ASUS ROG Strix', 'ASUS ROG Zephyrus', 'ASUS Ryzen 3',
        'ASUS Ryzen 5', 'ASUS Ryzen 7', 'ASUS TUF Dash', 'ASUS TUF Gaming',
        'ASUS VivoBook 14', 'ASUS VivoBook 15', 'ASUS VivoBook Core',
        'ASUS VivoBook Flip', 'ASUS VivoBook S', 'ASUS VivoBook Ultra',
        'ASUS Vivobook 14', 'ASUS Vivobook 15', 'ASUS Vivobook Core',
        'ASUS Vivobook Gaming', 'ASUS Vivobook S', 'ASUS Vivobook Ultra',
        'ASUS ZenBook 13', 'ASUS ZenBook 14', 'ASUS ZenBook Classic',
        'ASUS ZenBook Core', 'ASUS ZenBook Duo', 'ASUS ZenBook Flip',
        'ASUS ZenBook Pro', 'ASUS Zephyrus G14', 'ASUS vivobook Flip',
        'Avita Liber Core', 'Avita Liber V14', 'DELL 3501 Core',
        'DELL Core i3', 'DELL Core i5', 'DELL G3 Core', 'DELL G7 Core',
        'DELL GAMING G5', 'DELL INSPIRON Core', 'DELL Inspiron 15',
        'DELL Inspiron 3505', 'DELL Inspiron 7000', 'DELL Inspiron Core',
        'DELL Latitude 3400', 'DELL Latitude 5300', 'DELL VOSTRO 5401',
        'DELL Vostro Core', 'DELL XPS 13', 'DELL XPS 7390',
        'HP 12b Celeron', 'HP 14a Celeron', 'HP 14s Core', 'HP 14s Ryzen',
        'HP 15s Core', 'HP 15s Dual', 'HP 15s Ryzen', 'HP 250 G7',
        'HP Core i3', 'HP Core i5', 'HP Envy Core', 'HP Envy x360',
        'HP Omen Core', 'HP Pavilion 13', 'HP Pavilion Core',
        'HP Pavilion Gaming', 'HP Pavilion Laptop', 'HP Pavilion x360',
        'HP Pentium Quad', 'HP Ryzen 5', 'HP Spectre x360', 'LG Gram 14',
        'LG Gram 15', 'LG Gram Core', 'Lenovo APU Dual',
        'Lenovo Celeron Dual', 'Lenovo Core i3', 'Lenovo Core i5',
        'Lenovo Core i9', 'Lenovo IdeaPad 3', 'Lenovo IdeaPad 5',
        'Lenovo IdeaPad Core', 'Lenovo IdeaPad Flex',
        'Lenovo IdeaPad Gaming', 'Lenovo IdeaPad Ryzen',
        'Lenovo Ideapad 130', 'Lenovo Ideapad 3', 'Lenovo Ideapad 5',
        'Lenovo Ideapad 720S', 'Lenovo Ideapad Flex',
        'Lenovo Ideapad Gaming', 'Lenovo Ideapad S145',
        'Lenovo Ideapad Slim', 'Lenovo Legion 7i', 'Lenovo Legion Core',
        'Lenovo Legion Y540', 'Lenovo ThinkPad Core',
        'Lenovo ThinkPad E14', 'Lenovo ThinkPad E15',
        'Lenovo Thinkpad E14', 'Lenovo X390 Core', 'Lenovo Yoga C640',
        'Lenovo Yoga S7', 'Lenovo Yoga Slim', 'MICROSOFT Surface Go',
        'MICROSOFT Surface Laptop', 'MICROSOFT Surface Pro',
        'MSI Bravo 15', 'MSI Core i7', 'MSI Creator 17', 'MSI GF63 Thin',
        'MSI GF65 Thin', 'MSI GL Core', 'MSI GL65 Leopard',
        'MSI GP65 Leopard', 'MSI GP66 Leopard', 'MSI GS Core',
        'MSI Modern 14', 'MSI Prestige 14', 'MSI Prestige 15',
        'MSI Summit E15', 'Nexstgo Core i5', 'Nokia PureBook X14',
        'Vaio E Series', 'Vaio SE Series', 'acer Aspire 3',
        'acer Aspire 5', 'acer Aspire 7', 'acer ConceptD 5',
        'acer NITRO 5', 'acer P2 Series', 'acer Predator Core',
        'acer Predator Helios', 'acer Spin 7', 'acer Swift 3',
        'acer Swift 5'], dtype=object),
 array(['AMD Dual Core', 'AMD Ryzen 3', 'AMD Ryzen 5', 'AMD Ryzen 7',
        'AMD Ryzen 9', 'Intel Core i3', 'Intel Core i5', 'Intel Core i7',
        'Intel Core i9', 'Intel Pentium Quad', 'Microsoft Core i5'],
       dtype=object)]

In [40]:
clmn_tfr = make_column_transformer(
    (OneHotEncoder(categories=ohe.categories_), ["Name","Processor"]),
    remainder="passthrough")

In [41]:
x = data.drop(columns="Price")
y = data["Price"]

In [42]:
score = []
for i in range(1001):
    x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=i)
    lr = LinearRegression()
    pipe = make_pipeline(clmn_tfr,lr)
    pipe.fit(x_train,y_train)
    pred = pipe.predict(x_test)
    score.append(r2_score(y_test,pred))
print("i= ",np.argmax(score))
print(score[np.argmax(score)])

i=  523
0.8176539609397577

In [43]:
score = []
for i in range(1001):
    x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=i)
    dt = DecisionTreeRegressor()
    pipe = make_pipeline(clmn_tfr,dt)
    pipe.fit(x_train,y_train)
    pred = pipe.predict(x_test)
    score.append(r2_score(y_test,pred))
print("i= ",np.argmax(score))
print(score[np.argmax(score)])

i=  640
0.6752363454061003

In [44]:
score = []
for i in range(1001):
    x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=i)
    rf = RandomForestRegressor()
    pipe = make_pipeline(clmn_tfr,rf)
    pipe.fit(x_train,y_train)
    pred = pipe.predict(x_test)
    score.append(r2_score(y_test,pred))
print("i= ",np.argmax(score))
print(score[np.argmax(score)])

i=  178
0.6796626629644518

In [48]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=523)
lr = LinearRegression()
pipe = make_pipeline(clmn_tfr,lr)
pipe.fit(x_train,y_train)
pred = pipe.predict(x_test)
r2_score(y_test,pred)*100

81.76539609397577

In [46]:
pickle.dump(pipe,open("Laptop_Price_Prediction.pkl","wb"))

In [47]:
#Eg
pipe.predict(pd.DataFrame([["acer Aspire 5","Intel Core i3",4,32,1,25]], columns=["Name","Processor","RAM","Operating System","Storage","Display"]))

array([53194.9970803])